$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
$accent-color: #68b738;
$basic-text-color: #444444;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
