.extras__title {
  font-family: $secondary-font;
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.extras-card {
  font-size: 14px;
  line-height: 14px;
}

.extras__button {
  text-decoration: none;
}
