.hero__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}

.hero__subtitle {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
}

.hero__link {
  text-decoration: none;
  display: block;
}
